<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>图片上传示例</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
  <style>
    .responsive-img{
      width:300px;
      margin-top: 30px;
    }
  </style>
</head>
<body>
  <div class="container">
    <h1>上传图片</h1>
    <%= typeof msg !== 'undefined' ? msg : ''%>
    <form action="/upload" method = "POST" enctype="multipart/form-data">
      <div class="file-field input-field">
        <div class="btn grey">
          <span>选择图片</span>
          <input type="file" name = "myImage">
        </div>
        <div class="file-path-wrapper">
          <input class="file-path validate" type="text">
        </div>
      </div>
      <button type = "submit" class = "btn">确认提交</button>
      <br/>
      <img src="<%= typeof file !== 'undefined' ? file : ''%>" alt="" class = "responsive-img">
    </form>
  </div>

  <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
</body>
</html>
